In [1]:
conda install pandas-datareader

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\user\anaconda3

  added / updated specs:
    - pandas-datareader


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-4.13.0               |   py39haa95532_0         923 KB
    pandas-datareader-0.10.0   |     pyhd3eb1b0_0          71 KB
    ------------------------------------------------------------
                                           Total:         995 KB

The following NEW packages will be INSTALLED:

  pandas-datareader  pkgs/main/noarch::pandas-datareader-0.10.0-pyhd3eb1b0_0

The following packages will be UPDATED:

  conda                               4.12.0-py39haa95532_0 --> 4.13.0-py39haa95532_0



Downloading and Extracting Packages

conda-4.13.0         | 923 KB    |            |   0%
conda-4.13.0         | 923 KB    | #7         |  17%
conda-4.13.0         | 923 KB    | ########## | 100%
conda-4.13.0         | 923 KB    | ########## | 100%

pandas-datareader-0. | 71 KB     |            |   0%
pandas-datareader-0. | 71 KB     | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

Note: you may need to restart the kernel to use updated packages.

In [2]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.72-py2.py3-none-any.whl (27 kB)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.10.tar.gz (8.2 kB)
Requirement already satisfied: lxml>=4.5.1 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (4.8.0)
Requirement already satisfied: requests>=2.26 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (2.27.1)
Requirement already satisfied: pandas>=0.24.0 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (1.4.2)
Requirement already satisfied: numpy>=1.15 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.24.0->yfinance) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.24.0->yfinance) (1.16.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (3.3)
Building wheels for collected packages: multitasking
  Building wheel for multitasking (setup.py): started
  Building wheel for multitasking (setup.py): finished with status 'done'
  Created wheel for multitasking: filename=multitasking-0.0.10-py3-none-any.whl size=8500 sha256=e0531ec085a98cbbb45b6659d6b72453972c28647cbf4eb46d3a8f43e228b8b0
  Stored in directory: c:\users\user\appdata\local\pip\cache\wheels\f2\b5\2c\59ba95dcf854e542944c75fe3da584e4e3833b319735a0546c
Successfully built multitasking
Installing collected packages: multitasking, yfinance
Successfully installed multitasking-0.0.10 yfinance-0.1.72

In [4]:
# https://finance.yahoo.com/
import pandas as pd
import numpy as np
from pandas_datareader import data
import yfinance as yfin
yfin.pdr_override()

In [96]:
# samsung electronics
df = data.get_data_yahoo('005930.KS', start='2020-01-01', end='2021-02-11')

[*********************100%***********************]  1 of 1 completed

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 276 entries, 2020-01-02 to 2021-02-10
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       276 non-null    float64
 1   High       276 non-null    float64
 2   Low        276 non-null    float64
 3   Close      276 non-null    float64
 4   Adj Close  276 non-null    float64
 5   Volume     276 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 15.1 KB

In [59]:
df.isna()

             Open   High    Low  Close  Adj Close  Volume
Date
2020-01-02  False  False  False  False      False   False
2020-01-03  False  False  False  False      False   False
2020-01-06  False  False  False  False      False   False
2020-01-07  False  False  False  False      False   False
2020-01-08  False  False  False  False      False   False
...           ...    ...    ...    ...        ...     ...
2021-02-04  False  False  False  False      False   False
2021-02-05  False  False  False  False      False   False
2021-02-08  False  False  False  False      False   False
2021-02-09  False  False  False  False      False   False
2021-02-10  False  False  False  False      False   False

[276 rows x 6 columns]

In [60]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,276.000000,276.000000,276.000000,276.000000,276.000000,2.760000e+02
mean,60024.637681,60812.318841,59331.340580,60051.449275,57009.725076,2.295921e+07
std,10835.925511,11160.551977,10751.116881,10930.302237,11159.429431,1.047140e+07
min,42600.000000,43550.000000,42300.000000,42500.000000,39695.613281,0.000000e+00
25%,52950.000000,53600.000000,52175.000000,52875.000000,49988.554688,1.607145e+07
50%,57800.000000,58550.000000,57300.000000,57900.000000,54795.605469,2.042467e+07
75%,61100.000000,61525.000000,60525.000000,61025.000000,57844.319336,2.692489e+07
max,90300.000000,96800.000000,89500.000000,91000.000000,88908.179688,9.030618e+07

In [61]:
np.max(df['Close'])

91000.0

In [62]:
np.min(df['Close'])

42500.0

In [63]:
np.mean(df['Close'])

60051.44927536232

In [64]:
df.shape

(276, 6)

In [65]:
len(df)

276

In [66]:
df['Close']

Date
2020-01-02    55200.0
2020-01-03    55500.0
2020-01-06    55500.0
2020-01-07    55800.0
2020-01-08    56800.0
               ...
2021-02-04    82500.0
2021-02-05    83500.0
2021-02-08    83000.0
2021-02-09    82700.0
2021-02-10    81600.0
Name: Close, Length: 276, dtype: float64

In [67]:
df[['High', 'Low']]

               High      Low
Date
2020-01-02  56000.0  55000.0
2020-01-03  56600.0  54900.0
2020-01-06  55600.0  54600.0
2020-01-07  56400.0  55600.0
2020-01-08  57400.0  55900.0
...             ...      ...
2021-02-04  83800.0  82100.0
2021-02-05  84000.0  82500.0
2021-02-08  84200.0  83000.0
2021-02-09  84800.0  82700.0
2021-02-10  82600.0  81600.0

[276 rows x 2 columns]

In [68]:
df[:3]

               Open     High      Low    Close     Adj Close    Volume
Date
2020-01-02  55500.0  56000.0  55000.0  55200.0  51557.601562  12993228
2020-01-03  56000.0  56600.0  54900.0  55500.0  51837.800781  15422255
2020-01-06  54900.0  55600.0  54600.0  55500.0  51837.800781  10278951

In [69]:
df[df['Open'] < df['Close']]

               Open     High      Low    Close     Adj Close    Volume
Date
2020-01-06  54900.0  55600.0  54600.0  55500.0  51837.800781  10278951
2020-01-07  55700.0  56400.0  55600.0  55800.0  52118.000000  10009778
2020-01-08  56200.0  57400.0  55900.0  56800.0  53052.015625  23501171
2020-01-09  58400.0  58600.0  57400.0  58600.0  54733.242188  24102579
2020-01-10  58800.0  59700.0  58300.0  59500.0  55573.859375  16000170
...             ...      ...      ...      ...           ...       ...
2021-01-25  87000.0  89900.0  86300.0  89400.0  87344.960938  27258534
2021-01-28  83200.0  85600.0  83200.0  83700.0  81775.984375  31859808
2021-02-01  81700.0  83400.0  81000.0  83000.0  81092.070312  28046832
2021-02-02  84100.0  86400.0  83700.0  84400.0  82459.890625  26302077
2021-02-05  83100.0  84000.0  82500.0  83500.0  81580.578125  18036835

[128 rows x 6 columns]

In [70]:
df[df['Close'] == np.max(df['Close'])]

               Open     High      Low    Close     Adj Close    Volume
Date
2021-01-11  90000.0  96800.0  89500.0  91000.0  88908.179688  90306177

In [71]:
df[df['Close'] >= 90000].index

DatetimeIndex(['2021-01-11', '2021-01-12'], dtype='datetime64[ns]', name='Date', freq=None)

In [72]:
df.loc['2021-01-15']

Open         8.980000e+04
High         9.180000e+04
Low          8.800000e+04
Close        8.800000e+04
Adj Close    8.597713e+04
Volume       3.343181e+07
Name: 2021-01-15 00:00:00, dtype: float64

In [73]:
df.loc['2021-01-15', ['High', 'Low']]

High    91800.0
Low     88000.0
Name: 2021-01-15 00:00:00, dtype: float64

In [74]:
df.iloc[100]

Open         5.000000e+04
High         5.070000e+04
Low          4.970000e+04
Close        5.070000e+04
Adj Close    4.770416e+04
Volume       2.759696e+07
Name: 2020-05-29 00:00:00, dtype: float64

In [75]:
df.sort_index(ascending=False)

               Open     High      Low    Close     Adj Close    Volume
Date
2021-02-10  82600.0  82600.0  81600.0  81600.0  79724.242188  23025766
2021-02-09  84000.0  84800.0  82700.0  82700.0  80798.960938  20898332
2021-02-08  83800.0  84200.0  83000.0  83000.0  81092.070312  15338765
2021-02-05  83100.0  84000.0  82500.0  83500.0  81580.578125  18036835
2021-02-04  83500.0  83800.0  82100.0  82500.0  80603.562500  24171688
...             ...      ...      ...      ...           ...       ...
2020-01-08  56200.0  57400.0  55900.0  56800.0  53052.015625  23501171
2020-01-07  55700.0  56400.0  55600.0  55800.0  52118.000000  10009778
2020-01-06  54900.0  55600.0  54600.0  55500.0  51837.800781  10278951
2020-01-03  56000.0  56600.0  54900.0  55500.0  51837.800781  15422255
2020-01-02  55500.0  56000.0  55000.0  55200.0  51557.601562  12993228

[276 rows x 6 columns]

In [76]:
df['Close'].sort_values(ascending=False)

Date
2021-01-11    91000.0
2021-01-12    90600.0
2021-01-14    89700.0
2021-01-13    89700.0
2021-01-25    89400.0
               ...
2020-04-01    45800.0
2020-03-18    45600.0
2020-03-20    45400.0
2020-03-19    42950.0
2020-03-23    42500.0
Name: Close, Length: 276, dtype: float64

In [97]:
# 인덱스 컬럼을 0부터 순차적으로 증가하는 정수로 변경하세요.
# 새로운 인덱스를 추가하는 방법
df.reset_index(inplace=True)
df

          Date     Open     High      Low    Close     Adj Close    Volume
0   2020-01-02  55500.0  56000.0  55000.0  55200.0  51557.593750  12993228
1   2020-01-03  56000.0  56600.0  54900.0  55500.0  51837.804688  15422255
2   2020-01-06  54900.0  55600.0  54600.0  55500.0  51837.804688  10278951
3   2020-01-07  55700.0  56400.0  55600.0  55800.0  52118.007812  10009778
4   2020-01-08  56200.0  57400.0  55900.0  56800.0  53052.023438  23501171
..         ...      ...      ...      ...      ...           ...       ...
271 2021-02-04  83500.0  83800.0  82100.0  82500.0  80603.562500  24171688
272 2021-02-05  83100.0  84000.0  82500.0  83500.0  81580.570312  18036835
273 2021-02-08  83800.0  84200.0  83000.0  83000.0  81092.078125  15338765
274 2021-02-09  84000.0  84800.0  82700.0  82700.0  80798.968750  20898332
275 2021-02-10  82600.0  82600.0  81600.0  81600.0  79724.257812  23025766

[276 rows x 7 columns]

In [98]:
df.rename(columns = {'Date':'날짜', 'High':'고가', 'Low':'저가'}, inplace=True)

In [99]:
df.drop(['날짜'], axis=1)

        Open       고가       저가    Close     Adj Close    Volume
0    55500.0  56000.0  55000.0  55200.0  51557.593750  12993228
1    56000.0  56600.0  54900.0  55500.0  51837.804688  15422255
2    54900.0  55600.0  54600.0  55500.0  51837.804688  10278951
3    55700.0  56400.0  55600.0  55800.0  52118.007812  10009778
4    56200.0  57400.0  55900.0  56800.0  53052.023438  23501171
..       ...      ...      ...      ...           ...       ...
271  83500.0  83800.0  82100.0  82500.0  80603.562500  24171688
272  83100.0  84000.0  82500.0  83500.0  81580.570312  18036835
273  83800.0  84200.0  83000.0  83000.0  81092.078125  15338765
274  84000.0  84800.0  82700.0  82700.0  80798.968750  20898332
275  82600.0  82600.0  81600.0  81600.0  79724.257812  23025766

[276 rows x 6 columns]

In [100]:
df['diff'] = df['Close'] - df['Open']
df

,날짜,Open,고가,저가,Close,Adj Close,Volume,diff
0,2020-01-02,55500.0,56000.0,55000.0,55200.0,51557.593750,12993228,-300.0
1,2020-01-03,56000.0,56600.0,54900.0,55500.0,51837.804688,15422255,-500.0
2,2020-01-06,54900.0,55600.0,54600.0,55500.0,51837.804688,10278951,600.0
3,2020-01-07,55700.0,56400.0,55600.0,55800.0,52118.007812,10009778,100.0
4,2020-01-08,56200.0,57400.0,55900.0,56800.0,53052.023438,23501171,600.0
...,...,...,...,...,...,...,...,...
271,2021-02-04,83500.0,83800.0,82100.0,82500.0,80603.562500,24171688,-1000.0
272,2021-02-05,83100.0,84000.0,82500.0,83500.0,81580.570312,18036835,400.0
273,2021-02-08,83800.0,84200.0,83000.0,83000.0,81092.078125,15338765,-800.0
274,2021-02-09,84000.0,84800.0,82700.0,82700.0,80798.968750,20898332,-1300.0
275,2021-02-10,82600.0,82600.0,81600.0,81600.0,79724.257812,23025766,-1000.0

In [101]:
df['Year'] = [d.year for d in df['날짜']]
df['Month'] = [d.month for d in df['날짜']]
df['Day'] = [d.day for d in df['날짜']]
df

,날짜,Open,고가,저가,Close,Adj Close,Volume,diff,Year,Month,Day
0,2020-01-02,55500.0,56000.0,55000.0,55200.0,51557.593750,12993228,-300.0,2020,1,2
1,2020-01-03,56000.0,56600.0,54900.0,55500.0,51837.804688,15422255,-500.0,2020,1,3
2,2020-01-06,54900.0,55600.0,54600.0,55500.0,51837.804688,10278951,600.0,2020,1,6
3,2020-01-07,55700.0,56400.0,55600.0,55800.0,52118.007812,10009778,100.0,2020,1,7
4,2020-01-08,56200.0,57400.0,55900.0,56800.0,53052.023438,23501171,600.0,2020,1,8
...,...,...,...,...,...,...,...,...,...,...,...
271,2021-02-04,83500.0,83800.0,82100.0,82500.0,80603.562500,24171688,-1000.0,2021,2,4
272,2021-02-05,83100.0,84000.0,82500.0,83500.0,81580.570312,18036835,400.0,2021,2,5
273,2021-02-08,83800.0,84200.0,83000.0,83000.0,81092.078125,15338765,-800.0,2021,2,8
274,2021-02-09,84000.0,84800.0,82700.0,82700.0,80798.968750,20898332,-1300.0,2021,2,9
275,2021-02-10,82600.0,82600.0,81600.0,81600.0,79724.257812,23025766,-1000.0,2021,2,10

In [102]:
format = lambda x: '%.2f' % 2
df.applymap(format)

       날짜  Open    고가    저가 Close Adj Close Volume  diff  Year Month   Day
0    2.00  2.00  2.00  2.00  2.00      2.00   2.00  2.00  2.00  2.00  2.00
1    2.00  2.00  2.00  2.00  2.00      2.00   2.00  2.00  2.00  2.00  2.00
2    2.00  2.00  2.00  2.00  2.00      2.00   2.00  2.00  2.00  2.00  2.00
3    2.00  2.00  2.00  2.00  2.00      2.00   2.00  2.00  2.00  2.00  2.00
4    2.00  2.00  2.00  2.00  2.00      2.00   2.00  2.00  2.00  2.00  2.00
..    ...   ...   ...   ...   ...       ...    ...   ...   ...   ...   ...
271  2.00  2.00  2.00  2.00  2.00      2.00   2.00  2.00  2.00  2.00  2.00
272  2.00  2.00  2.00  2.00  2.00      2.00   2.00  2.00  2.00  2.00  2.00
273  2.00  2.00  2.00  2.00  2.00      2.00   2.00  2.00  2.00  2.00  2.00
274  2.00  2.00  2.00  2.00  2.00      2.00   2.00  2.00  2.00  2.00  2.00
275  2.00  2.00  2.00  2.00  2.00      2.00   2.00  2.00  2.00  2.00  2.00

[276 rows x 11 columns]

In [103]:
df['거래량'] = df['Volume'].apply(lambda x: "{:,}".format(x))

In [105]:
volume_mean = df['Volume'].groupby(df['Month']).mean()
volume_mean

Month
1     2.713407e+07
2     1.921213e+07
3     3.537865e+07
4     2.120510e+07
5     1.969814e+07
6     2.351997e+07
7     1.901368e+07
8     2.008490e+07
9     2.030011e+07
10    1.723988e+07
11    2.363959e+07
12    2.523804e+07
Name: Volume, dtype: float64

In [106]:
df.isna().sum()

날짜           0
Open         0
고가           0
저가           0
Close        0
Adj Close    0
Volume       0
diff         0
Year         0
Month        0
Day          0
거래량          0
dtype: int64

In [ ]:
df.dropna()   # 결측치가 있을 경우 예시
df.fillna({'High':90000, 'Low':50000})  # 결측치가 있을 경우 예시

In [108]:
dec_df = df[df['Month'] == 12]
nov_df = df[df['Month'] == 11]

nov_dec_df = pd.concat([nov_df, dec_df])
nov_dec_df

,날짜,Open,고가,저가,Close,Adj Close,Volume,diff,Year,Month,Day,거래량
206,2020-11-02,56400.0,57500.0,56000.0,57400.0,54703.820312,20489076,1000.0,2020,11,2,"20,489,076"
207,2020-11-03,57900.0,58900.0,57600.0,58800.0,56038.066406,14950919,900.0,2020,11,3,"14,950,919"
208,2020-11-04,58900.0,59000.0,57800.0,58500.0,55752.152344,21718561,-400.0,2020,11,4,"21,718,561"
209,2020-11-05,59000.0,60300.0,58800.0,60300.0,57467.605469,20639475,1300.0,2020,11,5,"20,639,475"
210,2020-11-06,60700.0,60800.0,59600.0,60100.0,57277.007812,16910230,-600.0,2020,11,6,"16,910,230"
211,2020-11-09,60700.0,60900.0,60100.0,60200.0,57372.300781,15892961,-500.0,2020,11,9,"15,892,961"
212,2020-11-10,60500.0,60500.0,59500.0,60200.0,57372.300781,19073552,-300.0,2020,11,10,"19,073,552"
213,2020-11-11,60700.0,61400.0,60400.0,61300.0,58420.628906,25628510,600.0,2020,11,11,"25,628,510"
214,2020-11-12,61000.0,61400.0,60700.0,61000.0,58134.726562,19800573,0.0,2020,11,12,"19,800,573"
215,2020-11-13,61300.0,63200.0,61000.0,63200.0,60231.390625,31508829,1900.0,2020,11,13,"31,508,829"
216,2020-11-16,64000.0,66700.0,63900.0,66300.0,63185.777344,36354334,2300.0,2020,11,16,"36,354,334"
217,2020-11-17,67000.0,67000.0,65600.0,65700.0,62613.960938,30204089,-1300.0,2020,11,17,"30,204,089"
218,2020-11-18,65700.0,66200.0,64700.0,64800.0,61756.230469,22963790,-900.0,2020,11,18,"22,963,790"
219,2020-11-19,64100.0,64800.0,63900.0,64600.0,61565.621094,16590290,500.0,2020,11,19,"16,590,290"
220,2020-11-20,63900.0,65200.0,63900.0,64700.0,61660.929688,15068682,800.0,2020,11,20,"15,068,682"
221,2020-11-23,64800.0,67800.0,64700.0,67500.0,64329.410156,27134398,2700.0,2020,11,23,"27,134,398"
222,2020-11-24,67900.0,69500.0,67000.0,67700.0,64520.015625,32158235,-200.0,2020,11,24,"32,158,235"
223,2020-11-25,67900.0,68300.0,66500.0,66600.0,63471.683594,32447065,-1300.0,2020,11,25,"32,447,065"
224,2020-11-26,66100.0,68000.0,66000.0,68000.0,64805.917969,19023323,1900.0,2020,11,26,"19,023,323"
225,2020-11-27,68000.0,68400.0,67600.0,68200.0,64996.531250,14063434,200.0,2020,11,27,"14,063,434"
226,2020-11-30,68400.0,68600.0,66700.0,66700.0,63566.988281,43811016,-1700.0,2020,11,30,"43,811,016"
227,2020-12-01,67100.0,68300.0,67100.0,67800.0,64615.312500,22327173,700.0,2020,12,1,"22,327,173"
228,2020-12-02,68400.0,69900.0,68300.0,69500.0,66235.468750,29703942,1100.0,2020,12,2,"29,703,942"
229,2020-12-03,70100.0,70500.0,69300.0,69700.0,66426.070312,23677989,-400.0,2020,12,3,"23,677,989"
230,2020-12-04,70400.0,72100.0,70100.0,71500.0,68141.523438,28130533,1100.0,2020,12,4,"28,130,533"
231,2020-12-07,72400.0,73500.0,71900.0,72900.0,69475.757812,28490496,500.0,2020,12,7,"28,490,496"
232,2020-12-08,72200.0,72900.0,71600.0,71700.0,68332.132812,25000338,-500.0,2020,12,8,"25,000,338"
233,2020-12-09,72100.0,73900.0,72000.0,73900.0,70428.781250,24077996,1800.0,2020,12,9,"24,077,996"
234,2020-12-10,72700.0,73800.0,72500.0,72900.0,69475.757812,39882928,200.0,2020,12,10,"39,882,928"
235,2020-12-11,73500.0,73800.0,73100.0,73400.0,69952.281250,18486672,-100.0,2020,12,11,"18,486,672"
236,2020-12-14,73600.0,74500.0,73200.0,73800.0,70333.492188,21510415,200.0,2020,12,14,"21,510,415"
237,2020-12-15,73800.0,74100.0,73300.0,73800.0,70333.492188,20863671,0.0,2020,12,15,"20,863,671"
238,2020-12-16,74100.0,74500.0,73400.0,73800.0,70333.492188,17512081,-300.0,2020,12,16,"17,512,081"
239,2020-12-17,73400.0,73700.0,72600.0,73300.0,69856.968750,24293214,-100.0,2020,12,17,"24,293,214"
240,2020-12-18,73300.0,73700.0,73000.0,73000.0,69571.062500,17613029,-300.0,2020,12,18,"17,613,029"
241,2020-12-21,73100.0,73400.0,72000.0,73000.0,69571.062500,20367355,-100.0,2020,12,21,"20,367,355"
242,2020-12-22,72500.0,73200.0,72100.0,72300.0,68903.945312,16304910,-200.0,2020,12,22,"16,304,910"
243,2020-12-23,72400.0,74000.0,72300.0,73900.0,70428.781250,19411326,1500.0,2020,12,23,"19,411,326"
244,2020-12-24,74100.0,78800.0,74000.0,77800.0,74145.601562,32502870,3700.0,2020,12,24,"32,502,870"
245,2020-12-28,79000.0,80100.0,78200.0,78700.0,75003.328125,40085044,-300.0,2020,12,28,"40,085,044"
246,2020-12-29,78800.0,78900.0,77300.0,78300.0,76500.109375,30339449,-500.0,2020,12,29,"30,339,449"
247,2020-12-30,77400.0,81300.0,77300.0,81000.0,79138.054688,29417421,3600.0,2020,12,30,"29,417,421"